-----BEGIN CERTIFICATE-----
MIICCTCCAWugAwIBAgIQGXzeq9ADgB/sy6X3Aa2x1DAKBggqhkjOPQQDBDAhMQ0w
CwYDVQQKEwRIZWxtMRAwDgYDVQQDEwdIZWxtIENBMB4XDTE4MDQyMjE4MTExNloX
DTIxMDQyMTE4MTExNlowITENMAsGA1UEChMESGVsbTEQMA4GA1UEAxMHSGVsbSBD
QTCBmzAQBgcqhkjOPQIBBgUrgQQAIwOBhgAEAKEOBkGUr0DLD1zdbuMKGGF9c5Kw
HEzgCzSFWfKH3k1ZOEKpOQOXSQUpZOoTgvSrowW3xjeWit2l4HIfpjCx6p/UAVqw
n0MzITlYzeJvAXFKWyPPaSrqLW0IbTa4wm+VgBn83jH4uqntYjkTw34v2zkQgiTe
RrGJvu6VcjrsoUGaR2jeo0IwQDAOBgNVHQ8BAf8EBAMCAgQwDwYDVR0TAQH/BAUw
AwEB/zAdBgNVHQ4EFgQUIQ6mtVN7pF/dAyIveGZ9TNxj2oQwCgYIKoZIzj0EAwQD
gYsAMIGHAkFXk25a7xf5tnWjIZpQWG3BXkMfUEFHg9tEt/ExdDV8ALx6/3g1OHYE
zU3wYBBsPhU6wvpbytH5lPQtL17GcWUtXQJCAeDUHJNGPMRmDQUi2gtatS5P+6Cs
JLEFRkXTGj0kxrkvNHJKpNaEgfzBwiSsvb09tZN89kkSMd9IV8DtRTWKw6PA
-----END CERTIFICATE-----
