-----BEGIN CERTIFICATE-----
MIICEjCCAXOgAwIBAgIQFShHMpCcwdssetjRF+X+mjAKBggqhkjOPQQDBDAhMQ0w
CwYDVQQKEwRIZWxtMRAwDgYDVQQDEwdIZWxtIENBMB4XDTE4MDQyMjE4MTExNloX
DTIwMDQyMTE4MTExNlowJTENMAsGA1UEChMESGVsbTEUMBIGA1UEAxMLaGVsbS1j
bGllbnQwgZswEAYHKoZIzj0CAQYFK4EEACMDgYYABACBDr6U53+WoME8x/gsu/7R
h5pU8zZSSfFH6Vdwwb8yfY5x3nCwiuiP5GHR6xv9HcKWjI3lGPqneTxIEI/G7KJB
dQEyea8risx1y6NcRIHs0BJJhbGneR62tiZQIXjWzC3QmPBLqMkp4b2Xl+msuFKF
YSOOhOM547YxJIrhrtrP6YVmMaNGMEQwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDAYD
VR0TAQH/BAIwADAfBgNVHSMEGDAWgBQhDqa1U3ukX90DIi94Zn1M3GPahDAKBggq
hkjOPQQDBAOBjAAwgYgCQgHTtMfB0WTkKBhckQa8ItUib+bvHtTzba2Bfj1C1acU
SVmTQWPE0iooGeNKk/8cRVzOMbe3nYitYpnoI30KWbLOswJCANBA/z+FdAjSmVjP
jEi7GBkHixy6Ig9oWihVOo2915PiDp2gomJoFfwbfL9lva6FeNXE0rJbiWqbRzji
Sbqrh/kG
-----END CERTIFICATE-----
