-----BEGIN CERTIFICATE-----
MIICIjCCAYOgAwIBAgIRAILM5tcEROBc5TDu7MydS6kwCgYIKoZIzj0EAwQwITEN
MAsGA1UEChMESGVsbTEQMA4GA1UEAxMHSGVsbSBDQTAeFw0xODA0MjIxODExMTZa
Fw0yMDA0MjExODExMTZaMBgxFjAUBgNVBAMTDXRpbGxlci1zZXJ2ZXIwgZswEAYH
KoZIzj0CAQYFK4EEACMDgYYABAFLiMIJMtzNsjn4G8IZUipv0tVPu4dMsoOy8BAE
co79Tb2jokf5C1yzQsbwE4rFLgPVyK751ZUWaIOxTlK4gjlZFgAxiPikXOX1eob/
rj5uWrw1bQc5Xdmmw/yply+arDfBzQYXmjgDP7J7DRswHR0PYoWif0aAMijri/xw
xIAA+R664aNiMGAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDAYDVR0TAQH/BAIwADAf
BgNVHSMEGDAWgBQhDqa1U3ukX90DIi94Zn1M3GPahDAaBgNVHREEEzARgglsb2Nh
bGhvc3SHBH8AAAEwCgYIKoZIzj0EAwQDgYwAMIGIAkIBFCgmYTFNbiNiYkPf2ILo
QZiZ9C+d6bJi/Z7HJxwOpegwpK2LlgIO/oruwmMy+FqnMsVNtJ6njk4shVcj1mDx
oDMCQgDoKvArsA+oMrN87dla5bEUe4RQl1NNAwXf+pN++T8AjLi2IHbYTN0T4ZTD
Th96NpDzBsBMwEceodr48HXzvy4S5A==
-----END CERTIFICATE-----
